@model IEnumerable<VideoInsights.Models.Video>

@{
    ViewData["Title"] = "Videos from Database";
}

<br />
<br />
<h1>Video List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Videos from Database</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td align="center">
                    <a asp-action="DetailsDb" asp-route-id="@item.Id"><img src="@item.Thumbnail.First().Content"></a>
                    <br />
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>