@model VideoInsights.Web.Models.SearchViewModel

@{
    ViewData["Title"] = "Videos from Video Indexer Service";
}

<br />
<br />
<h1>Video Search</h1>
<h4>@Model.Text</h4>

<table class="table">
    <thead>
        <tr>
            <th>Videos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Videos)
        {
            <tr>
                <td align="center">
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="@item.Thumbnail.Content"></a>
                    <br />
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            </tr>
        }
    </tbody>
</table>